.checkup-btns {
    display: inline-grid;
    margin: 5% 5%;
    position: absolute;
    left: 35%;
}
.phy-img {
    max-width: 250px;
    float: right;
    margin: 5% 5%;
    position: absolute;
}

.checkup-btns-em {
    display: inline-flex;

    margin: 5%;
}

.av-em {
    margin: 5%;
}

li {
    padding: 5% 0;
}
li:hover {
    background-color: plum;
}
.block {
    padding: 10% 23%;
    text-align: center;
    display: grid;
}
a {
    text-decoration: none;
    color: black;
}

#howmuch-inp {
    text-align: center;
}
