.checkup-btns {
    display: inline-grid;
    margin: 5% 5%;
    position: absolute;
    left: 35%;
}
.phy-img {
    max-width: 250px;
    float: right;
    margin: 5% 5%;
}

.checkup-btns-em {
    display: flex;

    margin: 10%;
}

.av-em {
    margin: 5%;
}
* {
    /* scroll-behavior: smooth; */
}
li {
    padding: 5% 0;
}
li:hover {
    background-color: plum;
}
.block {
    padding: 10% 23%;
    text-align: center;
    display: grid;
}
.nav-links {
    margin: 0 20%;
    text-decoration: none;
    color: black;
}
